{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "max-statements": ["error", 0],
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
